.page-loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    height: 12rem;
    width: 12rem;
    background: transparent url('../../assets/images/pageLoader.png') 0 0 no-repeat;
    animation: load 1s steps(12) infinite;
  }
}

@keyframes load {
  100% {
    background-position: -144rem, 0;
  }
}
