@import '../../assets/styles/colors.scss';

.extra-service-field {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 2.4rem;
  align-items: center;
  padding: 1.2rem 1.6rem;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}
